@model RollBasedAccess.Employee

@{
    ViewBag.Title = "EmployeeView";
}

<h2>EmployeeView</h2>

<div id="divResult">
<h2>Simple MVC Grid with Row Level Edit & Save</h2>
<table>
<tr>
<th>Text</th>
<th>CreateStamp</th>

</tr>
@foreach (var m in Model)
{
   
}
</table>
</div>